<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.user_name %></h1>
    <p>
      There's a new blog waiting to be read!
    </p>
    <p>
      <%= link_to "Unsubscribe?",  unsubscribe_user_url(@user) %>
    </p>
  </body>
</html>