<div class="posts-wrapper row">
  <div id="fb-root"></div>
  <body>
  <h1><%= @post.title %></h1>
  <div class="image center-block">
    <%= image_tag @post.image.url(:medium) %>
  </div>
  <p class="body">
    <h3><%= markdown(@post.body) %></h3>
  </p>
</body>